*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    .c{height: 260px; width: 100%;}
    .amarillo{background-color: yellow;}
    .rojo{background-color: red;}
    .morado {background-color: blueviolet;}