*{margin: 0;}


.contacto{
    width: 35%;
   padding-left: 2%;
   padding-top: 2%;

}

.tlf{
width: 30%;
margin-left: 20%;

}

h3{ font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;



}

.bizum{
    width: 20%;
   margin-top: 40%;
    float: right;
    margin-bottom: 2%;
    margin-right: 2%;


}